@media screen and (max-width:576px) {
    /* banner starts */
    .banner-container{
        padding-top: 2em;
        padding: 1em;
        max-height: 100%;
        /* border: 2px dotted red; */
    }
    
    .nav-menu{
        display: none;
    }
    .hamburger-icon{
        display: block;
        color: white;
    }
    .nav-container{
        width: 100%;
        
    }
    .banner-text-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .banner-text-container h2{
        font-size: 3em;
    }
    #shape{
        margin:0;
        font-size: 1.8em;   
    }
   .banner{
    flex-direction: column;
   }
   .banner-img-card-container{
    width: 100%;
    position: relative;
}
.video-tutorial-card{
    top: 44%;
   left: -10%;
}
.workout-tutorial-card{

    left: 55%;
    top: 12%;
}
/* banner ends */

}
