@media screen and (max-width:576px) {
   
 
 /* banner starts */
 .banner-container{
    padding: 20px 30px;
 }
.nav-container{
    margin-bottom: 50px;
}
.nav-menu{
    display: none;
}
.hamburger-icon{
    display: block;
    color: white;
}
.banner{
    flex-direction: column;
}
.banner-text-container{
    width: 100%;
    margin-bottom: 30px;
}
#shape{
    font-size: 1.5em;
   margin-right: 4px;
}
.banner-btn-container{
    gap: 20px;
}
.banner-img-card-container img{
    width: 100%;
}
.video-tutorial-card{
    bottom: 15%;
    left: 10%;
}
.workout-tutorial-card{
    top: 10%;
    left: 55%;
}

 
/* banner ends */



/* change-yours-habits-sections STARTS */
.change-your-habits-text-container{
    width: 100%;
    
}
.change-your-habits-img-container{
    margin-top: 10px;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

/* change-yours-habits-sections ENDS */


/* run-extra- mile section START */
.wrapper{
    padding: 5px 30px;
}
.run-extra-mile-container{
   flex-direction: column;
   margin-top: 40px;
}
.run-extra-mile-text-container{
    width: 100%;
    margin-bottom: 20px;
}
.run-extra-mile-text-container h3{
    font-size: 3em;
}
.run-extra-mile-img-container{
    width: 100%;
   
}
.button-section-3 button{
    width: 100%;
}
/* run-extra- mile section END */

/* BMI text START*/
.wrapper-two{
    padding: 10px 30px;
    
}
.bmi-text-container{
    margin-top: 40px;
    width: 100%;
}
/* BMI text END*/

/* BMI table start */
.bmi-table-container-wrapper{
    flex-direction: column;
    padding: 30px;
   
}
.bmi-chart-container, .bmi-calculate-container{
    width: 100%;
}
/* BMI table end */

/* Meet our team start */
.trainer-container{
    padding: 5px 20px;
}
.meet-our-team-text-container{
    width: 100%;
    margin-top: 40px;
}
.wrapper-three{
    grid-template-columns: repeat(1,1fr);
    gap: 10px; 
}
/* meet our team end */

/* footer START */
.footer-container{  
    margin-top: 20px;    
}
.footer-content{
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-content-1,.footer-content-2{
    width: 100%; 
   
}
small{
    width: 100%;
}
/* footer END */

/* test */

}