/* fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap');

/* default style for browser  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inter font class */
.inter-normal {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
        "slnt" 0;
  }

/* body */
body{
    width: 100%;
    
}

/* banner style starts  */
.banner-container{
    width: 100%;  
    max-height: 730px;
    background: linear-gradient(180deg, #1a1a1a 0%, #2e2e2e 50%, #1a1a1a 100%);
    padding: 3em;
    /* border: 2px dotted red; */
}

/* nav styes START */
.nav-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.nav-heading{
    width: 50%;
}
.nav-menu{
    width: 45%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 14px;
}
.nav-menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.25em;
    font-weight: 800;
}
.nav-menu>ul>li{
    list-style: none;
}
.nav-menu-list button{
    border: none;
    border-radius:2.8em;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}
.nav-menu-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 600;
}
.nav-2{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 400;

}
.hamburger-icon{
    display: none;
}

/* nav styles ENDS */



.banner-text-container{
    width: 50%;
    text-align: left;
    /* border: 2px solid yellow; */
}
.banner-text-container h2{
    color: rgb(255, 255, 255);
    font-size: 4em;
    font-weight: 900;
    margin-bottom: .5em;

}
#shape{
    font-family: 'Great Vibes', cursive;
    margin-right: .1em;
    font-weight: 400;
    font-size: 2.8em;
    
}
.banner-text-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size:1em;
    font-weight: 400;
    margin-bottom: 2em;

}
#join-btn{
    
    background: rgb(230, 83, 60);
    border: none;
    padding: 16px 24px;
    color: white;
    font-size: 16px;
    border-radius: 42px;
}
#download-btn{
    background: #1a1a1a;
    padding: 16px 24px;
    border-radius: 42px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}

.banner-img-card-container{
    width: 50%;
    /* border: 1px dotted red; */
   
   
}
.image-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    object-fit: cover;
}

.banner{
    width: 85%;
    margin: 0 auto;
    display: flex;  
}
.banner-btns-container{
    display: flex;
    gap: 1.5em;
}

.video-tuitorial-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height:90px ;
    width: 200px ;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 68%;
   left: 60%;
}
.circle{
    width:40px;
    height:40px ;
    border-radius: 50%;
    background-color: red;
}
.circle-text h5{
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}
.circle-text p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}
.workout-tuitorial-card{
    width: 190px;
    height: 95px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    position:absolute;
    left: 80%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.workout-tuitorial-card h5{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}
.workout-tuitorial-card p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
    font-weight: 400;
}
/* banner styles ends */