/* fonts Imports */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap');

/* default style for browser  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inter font class */
.inter-normal {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
        "slnt" 0;
  }

/* body */
body{
    background-color: black;
}

/* banner style starts  */
.banner-container{ 
    background: linear-gradient(180deg, #1a1a1a 0%, #2e2e2e 50%, black 100%);
    /* border: 2px dotted red; */
}

/* nav styes START */
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
    
}
.nav-heading{
    width: max-content;
}
.nav-title{
    color: rgb(230, 83, 60);
    font-size: 3em;
    font-weight: 800;
}
.hamburger-icon{
    display: none;
}
.nav-menu{
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 14px;
}
.nav-menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu>ul>li{
    list-style: none;
}
.nav-menu-list button{
    border: none;
    border-radius:45px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}
.nav-menu-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 600;
}
.nav-2{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 400;
}
/* nav styles ENDS */
.banner{
    max-width: 1200px;
    /* max-height: 700px; */
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
}
.banner-text-container{
    width: 45%;
    text-align: left;
}
.banner-text-container h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 30px;
    padding: 0;
}
#shape{
    font-family: 'Great Vibes', cursive;                                           
    font-weight: normal;
    font-size: 3em;
    margin-right:12px;  
}
.banner-text-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size:1em;
    font-weight: 400;
    margin-bottom: 40px;

}
.banner-btn-container{
    display: flex;
    gap: 20px;
}
#join-btn{ 
    background: rgb(230, 83, 60);
    border: none;
    padding: 16px 40px;
    color: white;
    font-size: 16px;
    border-radius: 42px;
}

#download-btn{
    background: #1a1a1a;
    padding: 16px 40px;
    border-radius: 42px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}

.banner-img-card-container{
    position: relative;
}
.banner-img-card-container img{
    max-height: 500px;
    object-fit: contain;
}

.video-tutorial-card{
    display: flex;
    gap: 8px;
    padding: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.418); */
    backdrop-filter: blur(4px);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.654);
    position: absolute;
    bottom: 15%;
    left: -35%;
}
.video-tutorial-card-text h5{
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;

}
.video-tutorial-card-text p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;

}
.circle{
    width:40px;
    height:40px ;
    border-radius: 50%;
    background-color: red;
}

.workout-tutorial-card{
    height: 90px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 12px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 20%;
    left: 60%;
}
.workout-tutorial-card h5{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
}
.workout-tutorial-card p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
    font-weight: 400;
}
/* banner styles ends */




/* change-yours-habits-sections STARTS */

.change-your-habits-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.change-your-habits-text-container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.change-your-habits-text-container h3{
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 16px;

}
.change-your-habits-text-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3em;
    font-weight: 400;
}

.change-your-habits-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
}

.workout-img-text-container{
    max-width: 231px;
    max-height: 274px;
}
.workout-img img{
    width: 100%;
    border-radius: 50%;
    
}

.workout-img-text-container h6{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  
}
.workout-img-text-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}


/* change-yours-habits-sections ENDS */




/* Run extra mile section style START */
/* .wrapper{
    border: 2px solid yellow;
} */

.run-extra-mile-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 28px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
}
.run-extra-mile-text-container{
    width: 45%;
    text-align: left;
    
}
.run-extra-mile-text-container h3{
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 0.5em;

}
.run-extra-mile-text-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2em;

}
.button-section-3 button{
    padding: 16px 40px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;


}
.run-extra-mile-img-container{
    width: 45%;
    /* border-radius: 18px; */
}
.run-extra-mile-img-container img{
    width: 100%;
    border-radius: 16px;
}


/* Run extra mile section style ENDS*/




/* Optional training and exercises style STARTS  */
.training-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: none;
}
.training-text{
    width: 50%;
}
.training-text h2{
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: 900;
    text-align: left;
    margin-bottom: 20px;
}
.training-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}
.training-img-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    /* grid-template-rows: repeat(3,1fr); */
}
.training-img-container img{
    height: 250px;
    width: 100%;
    object-fit: contain;
}
/* Optional training and exercises style ENDS  */